<a href="https://colab.research.google.com/github/drawcodeboy/pandas_practice/blob/main/pandas_practice08.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [13]:
# 1. DataFrame 만들기

import pandas as pd
import numpy as np

# tuple로 인덱스 만들기
tuples = list(
    zip(
        *[
            ['bar', 'bar', 'baz', 'baz', 'foo', 'foo', 'qux', 'qux'],
            ['one', 'two', 'one', 'two', 'one', 'two', 'one', 'two'],
        ]
    )
)

# 인덱스를 pandas에서 사용할 수 있게 변환
index = pd.MultiIndex.from_tuples(tuples, names=['first', 'second'])

# 인덱스 사용해서 DataFrame 만들기
df = pd.DataFrame(np.random.randn(8, 2), index=index, columns=['A', 'B'])

print(df)

                     A         B
first second
bar   one    -0.234159  2.753541
      two    -2.068966  0.703083
baz   one     0.276190  2.435327
      two    -0.843561 -0.324824
foo   one     1.937349 -0.707834
      two     0.154775 -0.630166
qux   one    -1.239725  0.087704
      two    -0.586018  0.394301

In [14]:
df2 = df[:4]
print(df2)

                     A         B
first second
bar   one    -0.234159  2.753541
      two    -2.068966  0.703083
baz   one     0.276190  2.435327
      two    -0.843561 -0.324824

In [15]:
# 2. Stack

stacked = df2.stack()

print(stacked)

first  second
bar    one     A   -0.234159
               B    2.753541
       two     A   -2.068966
               B    0.703083
baz    one     A    0.276190
               B    2.435327
       two     A   -0.843561
               B   -0.324824
dtype: float64

>* stack() 메서드는 DataFrame의 열에 있는 레벨을 압축합니다.
>* 열에 있는 게 인덱스로 가면서 데이터가 더 세분화 된다고 생각하면 된다.

In [16]:
unstacked = stacked.unstack()
print(unstacked)

unstacked_2 = unstacked.unstack()
print(unstacked_2)

                     A         B
first second
bar   one    -0.234159  2.753541
      two    -2.068966  0.703083
baz   one     0.276190  2.435327
      two    -0.843561 -0.324824
               A                   B
second       one       two       one       two
first
bar    -0.234159 -2.068966  2.753541  0.703083
baz     0.276190 -0.843561  2.435327 -0.324824

>* stack()의 반대 연산은 unstack()입니다.
>* unstack 연산은 기본적으로 마지막 레벨에 대해 수행합니다.

In [17]:
# 3. Pivot tables

df = pd.DataFrame({'A': ['one', 'one', 'two', 'three'] * 3,
                 'B': ['A', 'B', 'C'] * 4,
                 'C': ['foo', 'foo', 'foo', 'bar', 'bar', 'bar'] * 2,
                 'D': np.random.randn(12),
                 'E': np.random.randn(12)})

print(df)

        A  B    C         D         E
0     one  A  foo -0.449920  0.688650
1     one  B  foo  0.436983  2.114796
2     two  C  foo  0.135986 -1.005594
3   three  A  bar -0.707559 -0.277019
4     one  B  bar  0.373102 -0.115530
5     one  C  bar -1.120484  1.669841
6     two  A  foo -0.221766 -0.009039
7   three  B  foo -1.393259  1.196724
8     one  C  foo  0.203198 -0.400818
9     one  A  bar -0.196387 -0.055953
10    two  B  bar -0.525120  0.104508
11  three  C  bar  0.111435 -0.985964

In [18]:
pt = pd.pivot_table(df, values='D', index=['A', 'B'], columns=['C'])
pt

C             bar       foo
A     B
one   A -0.196387 -0.449920
      B  0.373102  0.436983
      C -1.120484  0.203198
three A -0.707559       NaN
      B       NaN -1.393259
      C  0.111435       NaN
two   A       NaN -0.221766
      B -0.525120       NaN
      C       NaN  0.135986

>* pivot_table()을 사용해서 위의 데이터로부터 간편하게 피벗 테이블(pivot table)을 만들 수 있습니다.
>* 데이터를 다른 관점에서 보기 위해 groupby와 비슷한 느낌으로 사용합니다.
>* index=행으로 이용할 열, columns=열로 이용할 열, values=데이터로 이용할 열