<a href="https://colab.research.google.com/github/drawcodeboy/pandas_practice/blob/main/pandas_practice06.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [25]:
# 1. DataFrame 만들기

import pandas as pd
import numpy as np

np.random.seed(0)

df = pd.DataFrame(np.random.randn(10, 4))

print(df)

          0         1         2         3
0  1.764052  0.400157  0.978738  2.240893
1  1.867558 -0.977278  0.950088 -0.151357
2 -0.103219  0.410599  0.144044  1.454274
3  0.761038  0.121675  0.443863  0.333674
4  1.494079 -0.205158  0.313068 -0.854096
5 -2.552990  0.653619  0.864436 -0.742165
6  2.269755 -1.454366  0.045759 -0.187184
7  1.532779  1.469359  0.154947  0.378163
8 -0.887786 -1.980796 -0.347912  0.156349
9  1.230291  1.202380 -0.387327 -0.302303

In [26]:
# 2. 연결하기

pieces = [df[:3], df[3:7], df[7:]]

df2 = pd.DataFrame(np.random.randn(10, 4))

print(pieces)
print(pd.concat(pieces))

[          0         1         2         3
0  1.764052  0.400157  0.978738  2.240893
1  1.867558 -0.977278  0.950088 -0.151357
2 -0.103219  0.410599  0.144044  1.454274,           0         1         2         3
3  0.761038  0.121675  0.443863  0.333674
4  1.494079 -0.205158  0.313068 -0.854096
5 -2.552990  0.653619  0.864436 -0.742165
6  2.269755 -1.454366  0.045759 -0.187184,           0         1         2         3
7  1.532779  1.469359  0.154947  0.378163
8 -0.887786 -1.980796 -0.347912  0.156349
9  1.230291  1.202380 -0.387327 -0.302303]
          0         1         2         3
0  1.764052  0.400157  0.978738  2.240893
1  1.867558 -0.977278  0.950088 -0.151357
2 -0.103219  0.410599  0.144044  1.454274
3  0.761038  0.121675  0.443863  0.333674
4  1.494079 -0.205158  0.313068 -0.854096
5 -2.552990  0.653619  0.864436 -0.742165
6  2.269755 -1.454366  0.045759 -0.187184
7  1.532779  1.469359  0.154947  0.378163
8 -0.887786 -1.980796 -0.347912  0.156349
9  1.230291  1.202380 -0.387327 -0.302303

In [27]:
df1 = pd.DataFrame({'a':['a0','a1','a2','a3'],
                   'b':['b0','b1','b2','b3'],
                   'c':['c0','c1','c2','c3']},
                  index = [0,1,2,3])

df2 = pd.DataFrame({'a':['a2','a3','a4','a5'],
                   'b':['b2','b3','b4','b5'],
                   'c':['c2','c3','c4','c5'],
                   'd':['d2','d3','d4','d5']},
                   index = [2,3,4,5])

print(df1)
print(df2)

    a   b   c
0  a0  b0  c0
1  a1  b1  c1
2  a2  b2  c2
3  a3  b3  c3
    a   b   c   d
2  a2  b2  c2  d2
3  a3  b3  c3  d3
4  a4  b4  c4  d4
5  a5  b5  c5  d5

In [28]:
res1 = pd.concat([df1, df2])
print(res1)

    a   b   c    d
0  a0  b0  c0  NaN
1  a1  b1  c1  NaN
2  a2  b2  c2  NaN
3  a3  b3  c3  NaN
2  a2  b2  c2   d2
3  a3  b3  c3   d3
4  a4  b4  c4   d4
5  a5  b5  c5   d5

In [29]:
res2 = pd.concat([df1, df2], ignore_index=True, axis=1)
print(res2)

     0    1    2    3    4    5    6
0   a0   b0   c0  NaN  NaN  NaN  NaN
1   a1   b1   c1  NaN  NaN  NaN  NaN
2   a2   b2   c2   a2   b2   c2   d2
3   a3   b3   c3   a3   b3   c3   d3
4  NaN  NaN  NaN   a4   b4   c4   d4
5  NaN  NaN  NaN   a5   b5   c5   d5

>* 리스트 안에 데이터 프레임을 묶어버리면 그대로 리스트 안에 데이터 프레임 객체가 담깁니다. 즉, 원소가 된다는 뜻입니다.
>* concat()를 이용해서 각각의 pandas 객체를 연결합니다.
>* 전달 parameter는 데이터프레임 객체를 리스트로 묶어서 전달해야 합니다.
>* objs parameter: a sequence or mapping of Series or DataFrame objects
>* [Pandas Documentation - pd.concat()](https://pandas.pydata.org/docs/reference/api/pandas.concat.html#pandas.concat)
>* pd.concat() 설명에 관해 [Reference 1](https://yganalyst.github.io/data_handling/Pd_12/)에 설명이 잘 되어있어서 위의 3 셀을 가져왔습니다.

In [30]:
# 3. 결합하기

df_left = pd.DataFrame({'key': ['foo', 'foo'], 'lval': [1, 2]})
df_right = pd.DataFrame({'key': ['foo', 'foo'], 'rval': [4, 5]})

print(df_left)
print(df_right)
print(pd.merge(df_left, df_right, on='key'))

   key  lval
0  foo     1
1  foo     2
   key  rval
0  foo     4
1  foo     5
   key  lval  rval
0  foo     1     4
1  foo     1     5
2  foo     2     4
3  foo     2     5

>* 해당 예시는 좀 어렵다. 기준 열(on)이 'key'인데 'key'에 겹치는 value 'foo'가 여러 번 나오기 때문에 merge의 결과가 왜 저렇게 나오는지 이해하기 어렵다. 그렇기 때문에 아래 예시를 먼저 보고나서 이 예시를 보는 것이 더 이해된다.

In [31]:
df_left = pd.DataFrame({'key': ['foo', 'bar'], 'lval': [1, 2]})
df_right = pd.DataFrame({'key': ['foo', 'bar'], 'rval': [4, 5]})

print(df_left)
print(df_right)
print(pd.merge(df_left, df_right, on='key'))

   key  lval
0  foo     1
1  bar     2
   key  rval
0  foo     4
1  bar     5
   key  lval  rval
0  foo     1     4
1  bar     2     5

In [32]:
fruit = pd.DataFrame({
    'Num': [123, 456, 789, 1011, 1112], 
    'Fruit':['Apple', 'Banana', 'Cherry', 'Lemon', 'Peach'],
})

grade = pd.DataFrame({
    'Num': [123, 789, 1314],
    'Grade': ['A', 'B', 'C']
})

In [33]:
# Left Join
# 왼쪽 데이터프레임을 기준으로 조인한다. 오른쪽 데이터프레임에 없는 값은 NaN으로 나타난다.

print(pd.merge(fruit, grade, on='Num', how='left'))

    Num   Fruit Grade
0   123   Apple     A
1   456  Banana   NaN
2   789  Cherry     B
3  1011   Lemon   NaN
4  1112   Peach   NaN

In [34]:
# Right Join
# 오른쪽 데이터프레임을 기준으로 조인한다. 왼쪽 데이터프레임에 없는 값은 NaN으로 나타난다.

print(pd.merge(fruit, grade, on='Num', how='right'))

    Num   Fruit Grade
0   123   Apple     A
1   789  Cherry     B
2  1314     NaN     C

In [35]:
# Inner Join (Default)
# 교집합을 의미한다. 양쪽에 공통으로 있는 값만 나타난다.

print(pd.merge(fruit, grade, on='Num', how='inner'))

   Num   Fruit Grade
0  123   Apple     A
1  789  Cherry     B

In [36]:
# Outer Join
# 모든 값이 나타나도록 한다. 왼쪽 데이터프레임과 오른쪽 데이터프레임에 없는 값들은 NaN으로 나타난다.

print(pd.merge(fruit, grade, on='Num', how='outer'))

    Num   Fruit Grade
0   123   Apple     A
1   456  Banana   NaN
2   789  Cherry     B
3  1011   Lemon   NaN
4  1112   Peach   NaN
5  1314     NaN     C

>* pd.merge에 관해 [Reference 2](https://mizykk.tistory.com/82)에 설명이 잘 되어있어서 이를 토대로 코드 실습을 한 번 더 진행했습니다.

In [37]:
# 4. 추가하기

df = pd.DataFrame(np.random.randn(8, 4), columns=['A', 'B', 'C', 'D'])
print(df)

s = df.iloc[3]
print(df.append(s, ignore_index = True))

          A         B         C         D
0 -1.165150  0.900826  0.465662 -1.536244
1  1.488252  1.895889  1.178780 -0.179925
2 -1.070753  1.054452 -0.403177  1.222445
3  0.208275  0.976639  0.356366  0.706573
4  0.010500  1.785870  0.126912  0.401989
5  1.883151 -1.347759 -1.270485  0.969397
6 -1.173123  1.943621 -0.413619 -0.747455
7  1.922942  1.480515  1.867559  0.906045
          A         B         C         D
0 -1.165150  0.900826  0.465662 -1.536244
1  1.488252  1.895889  1.178780 -0.179925
2 -1.070753  1.054452 -0.403177  1.222445
3  0.208275  0.976639  0.356366  0.706573
4  0.010500  1.785870  0.126912  0.401989
5  1.883151 -1.347759 -1.270485  0.969397
6 -1.173123  1.943621 -0.413619 -0.747455
7  1.922942  1.480515  1.867559  0.906045
8  0.208275  0.976639  0.356366  0.706573